[{builderl, [
  {projects, ["philipcristiano/builderl"]},
  {global_env, [{"SSL_CERT_FILE", keep},
                {"PKGSRVR", keep},
                {"PATH", keep}]}
 ]},
 {sync, [
  {src_dirs, {add, [{"templates", [
                      {out_dir, "ebin"},
                      {libraries, [{builderl_filters, builderl_dtl_filters}]},
                      {default_libraries, [builderl_filters]}]}]}}
  ]},
 {erlexec, [
  {root, true}
 ]},
 {lager, [
  {handlers, [
    {lager_console_backend, debug},
    {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
    {lager_file_backend, [{file, "log/info.log"}, {level, info}]},
    {lager_file_backend, [{file, "log/debug.log"}, {level, debug}]},
    {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
  ]}
]},
 "local"].
